* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: rgb(247, 235, 214);
  display: flex;
  margin: 0;
}

/* ======================================================================
============             home page          =================================
================================================================= */

main {
  height: 100%;
  width: 100vw;
  display: block;
  margin: auto;
  /* background-color: rgb(239, 80, 52); */
  background-color: rgb(245, 223, 182);
}

#home {
  height: auto;
  width: auto;
  /* background-color: rgb(245, 223, 182); */
  margin: auto;
}

#logoPhone {
  width: 100vw;
}

#logoDesktop {
  display: none;
}

#navbar {
  display: flex;
  /* color: rgb(188, 185, 169); */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100vw;
  background-color: rgb(245, 217, 165);
  background-size: cover;
}

.navButton {
  padding: 7px 100px;
  border-radius: 10px;
}

.navButton:hover {
  background-color: rgb(247, 235, 214);
}

a {
  color: rgb(107, 105, 97);
  font-size: 24px;
  font-family: "Yellowtail", cursive;
  text-decoration: none;
}

.container {
  background-color: rgb(245, 223, 182);
  padding-bottom: 50px;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}

.photoFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-left {
  position: absolute;
  top: 250px;
  left: 5%;
  font-size: 30px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgba(247, 235, 214, 0.8);
  cursor: pointer;
}

.fa-angles-left:hover {
  transform: scale(1.1);
}

.fa-angles-right {
  position: absolute;
  top: 250px;
  right: 5%;
  font-size: 30px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgba(247, 235, 214, 0.8);
  cursor: pointer;
}

.fa-angles-right:hover {
  transform: scale(1.1);
}

.img1 {
  /* width: 75%;
  height: 38%; */
  width: 95%;
  height: 250px;
  margin: auto;
  position: relative;
}

.img2 {
  /* width: 75%;
  height: 38%; */
  width: 95%;
  height: 250px;
  margin: auto;
  position: relative;
}

.img3 {
  /* width: 75%;
  height: 38%; */
  width: 95%;
  height: 250px;
  margin: auto;
  position: relative;
}

.weather {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(245, 194, 100);
  font-family: "Oswald", sans-serif;
}

span {
  font-size: 12px;
  font-weight: 700;
}

h6 {
  text-align: end;
  /* font-size: 14px; */
  font-size: 11px;
  /* margin-right: 180px; */
  margin: 20px 4% 20px 4%;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 6% 10px 6%;
  text-align: justify;
  padding-bottom: 10px;
}

@media only screen and (min-width: 500px) {
  main {
    width: 100vw;
  }
  #logoPhone {
    display: none;
  }

  #logoDesktop {
    display: block;
    width: 100vw;
  }

  .navButton {
    padding: 7px 40px;
  }

  .img1 {
    height: 400px;
  }

  .img2 {
    height: 400px;
  }

  .img3 {
    height: 400px;
  }

  .fa-angles-left {
    top: 320px;
  }

  .fa-angles-right {
    top: 320px;
  }
}

@media only screen and (min-width: 1100px) {
  main {
    width: 85vw;
  }

  #home {
    width: 85vw;
  }

  #logoDesktop {
    width: 85vw;
  }
  #navbar {
    width: 85vw;
  }

  .navButton {
    padding: 15px 50px;
  }

  a {
    font-size: 50px;
  }

  .fa-angles-left {
    top: 420px;
    left: 14%;
    font-size: 50px;
  }

  .fa-angles-right {
    top: 420px;
    right: 14%;
    font-size: 50px;
  }

  .img1 {
    width: 75%;
    height: 600px;
  }

  .img2 {
    width: 75%;
    height: 600px;
  }

  .img3 {
    width: 75%;
    height: 600px;
  }

  .weather {
    width: 75%;
  }

  h6 {
    font-size: 14px;
    margin-right: 13%;
  }

  h3 {
    margin: 10px 200px 10px 200px;
  }
}
